.logo {
  height: 35px;
  position: center;
  top: 10px;
}

.appBar {
  z-index: 5;
  background-color: #3295da !important;
}
.menuButton {
  display: none !important;
  margin-right: 2;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
  .menuButton {
    display: inline !important;
  }
}
